[Unit]
Description=tango PhytronMCC2 devices
Requires=network-online.target
After=multi-user.target

[Service]
EnvironmentFile=/etc/tangorc
ExecStart=/home/pi/TangoDS/MCC2/PhytronMCC2.py mcc02 -v2
WorkingDirectory=/home/pi/TangoDS/MCC2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
